@import '@/styles/variables.module.scss';

.main {
	display: flex;
	padding: 16px 8px;
	min-height: calc(100vh - $footer-height);

	@media (min-width: $min-desktop-width) {
		background-color: blue;
		padding: 24px 16px;
	}
}

.lol {
	width: 100px;
	height: 100px;
	background-color: black;
}
